name: stacked_trio_carousel
description: "A flutter package provides a visually engaging card carousel with a stacked layout of three cards."
version: 1.0.4
homepage: https://github.com/KosaiAli/stacked_trio_carousel.git
repository: https://github.com/KosaiAli/stacked_trio_carousel.git

environment:
  sdk: ^3.5.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  lints: ^6.0.0

flutter:
